.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 3rem;
}

.icon {
  margin-right: 1rem;
}

.divicon {
  margin-left: 8rem;
  margin-right: 8rem;
  width: 30%;
  justify-content: center;
  display: flex;
}